@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  color: #fff;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
}

.container {
  text-align: center;
}

.container h1 {
  font-size: 3rem;
  margin: 0.5em;
}

.underline {
  height: 6px;
  width: 50%;
  background: var(--red);
  background: linear-gradient(135deg, var(--red) 30%, var(--pink) 100%);
  margin: auto;
  border-radius: 3px;
}

.container p {
  max-width: 400px;
  margin: 2em 1em;
  line-height: 1.5em;
}

#color1 {
  stop-color: var(--red);
}

#color2 {
  stop-color: var(--pink);
}
