<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register | H4C</title>
    <!-- Favicons -->
    <link href="img/ieee-ssit-logo.png" rel="icon" />
    <link href="img/ieee-ssit-logo.png" rel="apple-touch-icon" />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/var.css" />
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <div class="container">
      <!-- <h1 class="hero-title">Hack 4 Cause</h1> -->
      <img src="./img/H4C Logo1.png" alt="Hack 4 Cause" class="hero-title" />
      <div class="underline"></div>
      <div class="hero">
        <div class="hero-left">
          <h2>Register As Individual</h2>
          <p>
            Register yourself for the hackathon and join the discord community.
          </p>
          <button onclick="success()">
            <img
              class="google"
              src="https://img.icons8.com/bubbles/80/000000/google-logo.png"
            />
            <span class="register"> Register</span>
          </button>
        </div>
        <!-- <div class="hero-right">
        <h2>Register Your Team</h2>
        <p>Note: First all team members need to register as individual.</p>
        <button>Make Team</button>
      </div> -->
      </div>
    </div>

    <!-- Cody -->
    <img src="./img/codyRed.png" class="cody cody-red" alt="CodyRed" />
    <img src="./img/codyPink.png" class="cody cody-pink" alt="CodyPink" />

    <!-- extras -->
    <!-- <a href="https://icons8.com/icon/V5cGWnc9R4xj/google"
      >Google icon by Icons8</a
    > -->
  </body>
  <script>
    function success() {
      location.href = "/thanks.html";
    }
  </script>
</html>
